<link rel="stylesheet" href="/stylesheets/bootstrap-multiselect.css">

<body>
    <h1><%= title %></h1>
    <p>Busca tus bandas favoritas.</p>

    <style type="text/css">
        #searchInput {
            width: 100%;
        }

        #searchBands {
            width: 30%;
        }       


        body{
            padding-bottom: 70px;
        }

        #criteriaSelectContainer {
            margin: 5px;
        }

        #searchBands {
            margin-top: 10px;
            margin-right: 10px;
        }

        #bandList {
            width: 100%;
        }

    </style>

    <div class="row">
        <div class="col-md-10 col-sm-9 col-xs-8">
            <!-- <input id="searchInput" type="text" class="form-control" name="genre" id="genre"> -->
            <paper-input label="Busqueda" name="genre" id="searchInput"></paper-input>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <paper-button raised id="searchBands">Buscar</paper-button>
        </div>
    </div>

    <!-- <button class="btn btn-primary" id="searchBands">Buscar</button> -->

    <div id="criteriaSelectContainer">
        <label>Criterio de selección:</label>
        <% include bandCriteriaSelect %>  
    </div>


    <br/>


    <div id="bandList">
    </div>

    
    <script type="text/javascript">
        var urlPrefixMap = {
            genre: "/api/bands/genre/",
            bandName: "/api/bands/name/"
        };

        $('document').ready( function() {

            $('#searchBands').click(function() {
                var bandListSelector = "#bandList";
                var inputValue = $("#searchInput").val();
                if(!inputValue || inputValue === ""){
                    inputValue = "*";
                }

                
                var criteriaSelect = document.querySelector('#criteriaSelect');
                var criteria = criteriaSelect.value || 'bandName';

                var ajaxUrlPrefix = urlPrefixMap[criteria];
                var ajaxUrl = ajaxUrlPrefix + inputValue;


                $(bandListSelector).html("");

                var processBand = function(band) {
                    console.log("BANDA: ");
                    console.log(band);

                    var bandDescription = band.description;
                    var bandGenres = band.genres;

                    var bandDescriptionP = '<p>' + bandDescription + '</p>';
                    var genresUl = 'Generos: <ul>';
                    bandGenres.forEach( function(genre){
                        genresUl += '<li>' + genre + '</li>';
                    } );
                    genresUl+='</ul>';


                    var contractButtonId = "band_" + band.id;


                    $('<paper-card heading="' + band.name + '" >  <div class="card-content">'+ bandDescriptionP + genresUl + '  </div>  <div class="card-actions"> <paper-button id="' + contractButtonId + '"><iron-icon icon="bookmark"></iron-icon>Contratar</paper-button> </div></paper-card>')
                    .appendTo($(bandListSelector));


                    document.querySelector("#" + contractButtonId).addEventListener('transitionend', function(e) {
                        location.href = '/bands/contract/' + band.id;
                    });
                };

                var searchFunction = function( data ) {
                    if(data.forEach) {
                        data.forEach(processBand);
                    } else {
                        processBand(data);
                    }
                };

                $.getJSON( ajaxUrl , searchFunction);            
            });
        } );
    </script>
</body>
