<body>    
	<style type="text/css">
        paper-button[active] {
            background-color: green;
            color: white;
        }		
	</style>

    <h1><%= title %></h1>
    
    <% include messages %>

    <% if (locals.user) { %>
     <script>
        userEmail = "<%= locals.user.email %>";
        userId = "<%= locals.user._id %>";
     </script>
    <% } %>

    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-8">
            <!-- <input id="bandNameInput" class="form-control" type='text' name='bandName' placeholder='Nombre banda' /> -->
            <paper-input id="bandNameInput" name='bandName' label='Nombre banda' />
        </div>
        <div class="col-md-2 col-sm-2 col-xs-4">
        	<!-- <button id="searchBandsButton" class="btn btn-primary fa fa-search" ></button> -->
            <paper-button id="searchBandsButton" raised>Buscar</paper-button>
        </div>
    </div>    
    
    <br/>

    <div id="foundBands"></div>

    <script type="text/javascript">
    	$('document').ready(function() {
            console.log("user:");
            console.log(userEmail);

	        $('#searchBandsButton').click(function(){
	            var bandName = $("#bandNameInput").val();
	            $("#foundBands").html("");

	            var ajaxUrl = bandName ? ("/api/bands/name/" + bandName) : "/api/bands/name/";
                /*var ajaxUrl = bandName ? ("http://localhost:3000/api/bands/name/" + bandName) : "http://localhost:3000/api/bands/name/";*/

	            $.getJSON( ajaxUrl , function( data ) {
	                data.forEach( function(band) {
	                    console.log("Banda: ");
	                    console.log(band);

                        var bandDescriptionP = '<p>' + band.description + '</p>';
                        var genresUl = 'Generos: <ul>';
                        band.genres.forEach( function(genre){
                            genresUl+='<li>' + genre + '</li>';
                        } );
                        genresUl+='</ul>';

                        $('<paper-card heading="' + band.name + '" >  <div class="card-content">'+ bandDescriptionP + genresUl + '  </div>  <div class="card-actions"> <paper-button ><iron-icon icon="bookmark"></iron-icon>Contratar</paper-button></div></paper-card>')
                        .appendTo( $("#foundBands") );

	                    //$('<p>'+band.name+'</p>').appendTo( $("#foundBands") );
                       
	                } );
	            });            
	        });
    	});
    </script>
</body>
