<body>
    <h1><%= title %></h1>
    <p>Escucha tus canciones favoritas.</p>

    <p>
    <input type="text" name="genre" placeholder="Genero"></input>
    <button>Buscar</button>
    </p>

    <p>
    <div id="songList"></div>
    </p>
    
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $('button').click(function(){
            var songListSelector = "#songList";
            var genreValue = $("input[name='genre']").val();
            if(!genreValue || genreValue == ""){
                genreValue = "any";
            }

            $(songListSelector).html("");

            var ajaxUrl = "http://localhost:3000/api/songs/genre/" + genreValue;

            $.getJSON( ajaxUrl , function( data ) {
                data.forEach( function(song){
                    console.log("Cancion: ");
                    console.log(song);


                    $('<audio controls="controls"><source src="/songs/'+song.fileName+'" type="audio/mpeg">Tu Browser no soporta el elemento "audio" de HTML5.</audio>')
                            .appendTo( $(songListSelector) );

                } );
            });            
        });
    </script>
</body>
