<body>
    <h1><%= title %></h1>
    <p>Escucha tus canciones favoritas.</p>

    <style type="text/css">
        #genreInput {
            width: 100%;
        }

        #searchSongs {
            width: 30%;
        }
    </style>

    <div class="form-group">
        <label for="genre">Genero:</label>
        <input id="genreInput" type="text" class="form-control" name="genre" id="genre">
        
    </div>

    <button class="btn btn-primary" id="searchSongs">Buscar</button>

    <p>
        <div id="songList"></div>
    </p>
    
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $('button').click(function(){
            var songListSelector = "#songList";
            var genreValue = $("#genreInput").val();
            if(!genreValue || genreValue == ""){
                genreValue = "any";
            }

            $(songListSelector).html("");

            var ajaxUrl = "http://localhost:3000/api/songs/genre/" + genreValue;

            $.getJSON( ajaxUrl , function( data ) {
                data.forEach( function(song){
                    console.log("Cancion: ");
                    console.log(song);

                    $('<audio controls="controls"><source src="/songs/' + song.fileName + '" type="audio/mpeg">Tu Browser no soporta el elemento "audio" de HTML5.</audio>')
                            .appendTo( $(songListSelector) );

                } );
            });            
        });
    </script>
</body>
