<body>
    <h1><%= title %></h1>
    <p>Escucha tus canciones favoritas.</p>

    <style type="text/css">
        #genreInput {
            width: 100%;
        }

        #searchSongs {
            width: 30%;
        }

        paper-icon-button[active] {
            color: green;
        }       

        .footer{
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        body{
            padding-bottom: 70px;
        }

        .darkPlayer{
            background-color: darkgray;
        }

    </style>

    <div class="row">
        <div class="col-md-10 col-sm-9 col-xs-8">
            <!-- <input id="genreInput" type="text" class="form-control" name="genre" id="genre"> -->
            <paper-input label="Genero" name="genre" id="genreInput"></paper-input>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <paper-button raised id="searchSongs">Buscar</paper-button>
        </div>
    </div>

    <!-- <button class="btn btn-primary" id="searchSongs">Buscar</button> -->

    <br/>

    <table class="table">
        <thead> 
            <tr>
                <th>Nom</th> 
                <th>Banda</th>
                <th>Dur</th>
                <th>Votos</th>
                <th>Acción</th> 
            </tr> 
        </thead>
        <tbody id="songList"> 
        </tbody>
    </table>


    
    <script type="text/javascript">
        var userId = "<%= user._id %>";

        $('document').ready( function(){

            $('#searchSongs').click(function() {
                var songListSelector = "#songList";
                var genreValue = $("#genreInput").val();
                if(!genreValue || genreValue === ""){
                    genreValue = "any";
                }

                
                var ajaxUrl = "/api/songs/genre/" + genreValue;


                $(songListSelector).html("");

                $.getJSON( ajaxUrl , function( data ) {
                    data.forEach( function(song){
                        console.log("Cancion: ");
                        console.log(song);

                        var minutes = Math.floor(song.duration / 60);
                        var seconds = Math.floor(song.duration % 60);
                        var duration = minutes + ':' + seconds;

                        var songClass = "song_" + song.id;

                        $('<tr><td>' + song.name + '</td> <td>' + song.band.name + '</td><td>' + duration + '</td> <td class="' + songClass + '"> ' + song.upvotes.length + ' </td> <td> <paper-icon-button class="playSong" data-songurl="/songs/' + song.fileName + '" icon="icons:send" title="play" style="color:darkcyan"></paper-icon-button> <paper-icon-button class="' + songClass + '" class="likeToggle" toggles icon="icons:thumb-up"><paper-icon-button/> </td> </tr>')
                        .appendTo($(songListSelector));


                        /*$('<audio controls="controls"><source src="/songs/' + song.fileName + '" type="audio/mpeg">Tu Browser no soporta el elemento "audio" de HTML5.</audio>')
                                .appendTo( $(songListSelector) );*/

                        // $('<div class="row"> <br/> <paper-card heading="' + song.name + '" >  <div class="card-content"> <p>'+ song.description +'</p>  <audio controls="controls"><source src="/songs/' + song.fileName + '" type="audio/mpeg">Tu Browser no soporta el elemento "audio" de HTML5.</audio> </div>  <div class="card-actions"> <paper-button toggles><iron-icon icon="check"></iron-icon>Like</paper-button></div></paper-card></div>').appendTo( $(songListSelector) );
                         
                        var likeToggle = document.querySelector('paper-icon-button.' + songClass);
                        var userLikesSong = song.upvotes.indexOf(userId) >= 0;

                        var upvotesColumn = document.querySelector('td.' + songClass);
                        
                        if(userLikesSong){
                            likeToggle.active = true;
                            likeToggle.onclick = function() {likeToggle.active = true;};
                            console.log("USER "+ userId +" LIKES SONG: " + userLikesSong);
                        } else {
                            likeToggle.onclick = function(event) {
                                likeToggle.active = true;
                                if(this.liked){
                                    return;
                                } else {
                                    $.get('/api/songs/upvote/'+ song._id, {}, function(response) {
                                        console.log("UPVOTED. RESPONSE: ");
                                        console.log(response);
                                        upvotesColumn.innerHTML = song.upvotes.length + 1;
                                    }, 'json');
                                }
                            };
                        }

                    } );
                });            
            });
        } );
    </script>
    <script type="text/javascript" src="/custom/CustomStyleJs/AudioPlayer.js"></script>
    <script type="text/javascript" src="/custom/CustomStyleJs/MusicSearch.js"></script>
</body>
