<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% include menu %>
    
    <h1><%= title %></h1>
    
    <% include messages %>
    
    <form id="createBandForm" action='/bands/create' method='post'>
        <p>
            <input type='text' name='name' placeholder='Nombre' />
        </p>

        <% include genreSelect %>

        <% include memberSelect %>        

        <p>
            <input type='submit' value='Crear' />
        </p>
    </form>
</body>
</html>