  <body>

    <div class="container-fluid">

    <% include messages %>

    <div id="goldAds">
    <% if (locals.goldAds) { 
        goldAds.forEach(function(ad) {
            var adType;
            var adReference;
            var adVisibility;
            
            if (ad.type === "band" )  {
                adType = "Banda";
                adReference = ad.band.name;
            } else {
                adType = "Lugar"
                adReference = ad.location.name;
            }

            if (ad.visibility === "gold" )  {
                adVisibility = "Gold";
            } else {
                adVisibility = "Silver"
            }             
        %>
            <paper-card heading="<%= adType %>" >
                <div class="card-content">
                    <p><%= adReference %></p>
                </div>
            </paper-card>
            
        <% }) 
    } %>
    </div>

   <div id="silverAds">
    <% if (locals.silverAds) { 
        silverAds.forEach(function(ad) {
            var adType;
            var adReference;
            var adVisibility;
            
            if (ad.type === "band" )  {
                adType = "Banda";
                adReference = ad.band.name;
            } else {
                adType = "Lugar"
                adReference = ad.location.name;
            }

            if (ad.visibility === "gold" )  {
                adVisibility = "Gold";
            } else {
                adVisibility = "Silver"
            }             
        %>
            <paper-card heading="<%= adType %>" >
                <div class="card-content">
                    <p><%= adReference %></p>
                </div>
            </paper-card>
            
        <% }) 
    } %>
    </div>
  </body>
</html>

