<!DOCTYPE html>
<html lang="es">

<head>
	<link rel="apple-touch-icon" sizes="57x57" href="/images/icon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/images/icon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/icon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/images/icon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/images/icon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/icon/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="/images/icon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/images/icon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/images/icon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/images/icon/manifest.json">
	<link rel="mask-icon" href="/images/icon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/images/icon/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="Bindie">
	<meta name="application-name" content="Bindie">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/images/icon/mstile-144x144.png">
	<meta name="msapplication-config" content="/images/icon/browserconfig.xml">
	<meta name="theme-color" content="#3dbfb0">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <!-- Bootstrap Core -->
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">

    <!-- custom sobre bootstrap -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/CustomBootstrap/sb-admin-2.css" />

    <!-- Plugin metis menu, para menues responsivos Mobile, controles de list, etc. -->
    <link rel="stylesheet" type="text/css" href="/lib/metisMenu/dist/metisMenu.min.css" />    

    <!-- Font Awesome (tipografia customizada) -->
    <link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/font-awesome.min.css">

    <!-- jQuery -->
    <script src="/lib/jquery/dist/jquery.min.js"></script>

    <script src="/lib/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="/lib/polymer/polymer.html" />
    <link rel="import" href="/lib/paper-button/paper-button.html" />
    <link rel="import" href="/lib/iron-icon/iron-icon.html" />
    <link rel="import" href="/lib/iron-icons/iron-icons.html" />
    <link rel="import" href="/lib/paper-card/paper-card.html" />
    <link rel="import" href="/lib/paper-icon-button/paper-icon-button.html" />
    <link rel="import" href="/lib/paper-styles/typography.html" />
    <link rel="import" href="/lib/paper-input/paper-input.html" />
    <link rel="import" href="/lib/vaadin-date-picker/vaadin-date-picker.html">

    <!-- Polymer gold -->
   <!--  <link rel="import" href="/lib/iron-flex-layout/classes/iron-flex-layout.html"> -->
	<!-- <link rel="import" href="/lib/iron-form/iron-form.html">	 -->
    <link rel="import" href="/lib/paper-styles/color.html">
    <link rel="import" href="/lib/gold-cc-input/gold-cc-input.html">
	<link rel="import" href="/lib/gold-cc-cvc-input/gold-cc-cvc-input.html">
	<link rel="import" href="/lib/gold-cc-expiration-input/gold-cc-expiration-input.html">
	<!-- <link rel="import" type="css" href="/stylesheets/simple-form.css">	 -->



    <link rel="stylesheet" type="text/css" href="/custom/CustomStyleCss/AudioPlayer.css">
    
    <link rel="import" href="/lib/paper-input/paper-textarea.html" />
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img style="max-width:100px; margin-top: -10px;" src="/images/bindie.png"/></a>
            </div>

            <!-- Top Menu -->
            <ul class="nav navbar-top-links navbar-right">
                <% include menu %>
            </ul>

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

            <ul class="nav" id="side-menu">

    		<% if(locals.user) { %>

	            	<li>
	                    <a href="#"><i class="fa fa-music fa-fw"></i> M&uacutesica<span class="fa arrow"></span></a>
	                    <ul class="nav nav-second-level">
	                        <li>
	                            <a href="/songs/browse">Escuchar</a>
	                        </li>
	                        <li>
	                            <a href="#">Mis Canciones</a>
	                        </li>
	                    </ul>
	                    <!-- /.nav-second-level -->
	                </li>

					<li>
	                    <a href="/users/events"><i class="fa fa-fw fa-calendar"></i> Eventos</a>
	                </li>

	                <li>
	                    <a href="#"><i class="fa fa-users fa-fw"></i> Mis Bandas<span class="fa arrow"></span></a>
	                    <ul class="nav nav-second-level">
                            <li>
                                <a href="/bands/create">Crear una nueva Banda</a>
                            </li>
	                        <li>
	                            <a href="/users/bands">Ver mis Bandas</a>
	                        </li>
	                        <li>
	                            <a href="/songs/create">Subir musica</a>
	                        </li>
	                    </ul>
	                    <!-- /.nav-second-level -->
	                </li>
	                <li>
	                    <a href="#"><i class="fa fa-map-marker fa-fw"></i> Mis Lugares<span class="fa arrow"></span></a>
	                    <ul class="nav nav-second-level">
	                        <li>
	                            <a href="/locations/create">Agregar un Lugar</a>
	                        </li>
	                        <li>
	                            <a href="/users/locations">Ver mis Lugares</a>
	                        </li>
	                        <li>
	                            <a href="/events/create">Crear Evento</a>
	                        </li>
	                    </ul>
	                    <!-- /.nav-second-level -->
	                </li>
	                <li>
	                    <a href="#"><i class="fa fa-envelope-o fa-fw"></i> Notificaciones<span class="fa arrow"></span></a>
	                    <ul class="nav nav-second-level">
	                        <li>
	                            <a href="#">Musica</a>
	                        </li>
	                        <li>
	                            <a href="#">Eventos</a>
	                        </li>
	                        <li>
	                            <a href="#">Contrataciones</a>
	                        </li>
	                    </ul>
	                    <!-- /.nav-second-level -->
	                </li>
	                <li>
	                    <a href="#"><i class="fa fa-fw fa-bullhorn"></i> Mis Avisos<span class="fa arrow"></span></a>
	                    <ul class="nav nav-second-level">
	                        <li>
	                            <a href="/ads/create">Crear un Aviso</a>
	                        </li>
	                        <li>
	                            <a href="/ads/browse">Ver mis Avisos</a>
	                        </li>
	                    </ul>	                    
	                </li>

					<li>
	                    <a href="#"><i class="fa fa-suitcase fa-fw"></i>  Mis Contrataciones<span class="fa arrow"></span></a>
	                    <ul class="nav nav-second-level">
			                <li>
			                    <a href="/bands/browse"><i class="fa fa-fw fa-search"></i> Contratar Bandas</a>
			                </li>
                            <li>
                                <a href="/locations/browse"><i class="fa fa-fw fa-search"></i> Contratar Lugar</a>
                            </li>
	                        <li>
	                            <a href="#"><i class="fa fa-fw fa-history"></i>Historial</a>
	                        </li>
	                    </ul>
	                    <!-- /.nav-second-level -->
	                </li>
	            <% } %>
            </ul>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

            <%- body %>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

	<div class="footer">
		<div class="container-fluid">
			<div id="player" class="col-md-12 col-sm-12 col-xs-12">
					
			</div>
		</div>
	</div>

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap Core JavaScript -->
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/lib/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Js para el Style -->
    <script type="text/javascript" src="/custom/CustomStyleJs/sb-admin-2.js"></script>

    <!-- javascript del multiselect -->
    <script type="text/javascript" src="/custom/multiselect/js/bootstrap-multiselect.js"></script>

    <!-- Inicializacion de los multiselects -->
    <script type="text/javascript">
        $(document).ready(function() {
            $("#genreSelect").multiselect();
            $("#bandSelect").multiselect();
            $("#memberSelect").multiselect();
            $("#locationSelect").multiselect();
            $("#criteriaSelect").multiselect();

        });
    </script>



</body>

</html>
