<body>
<style type="text/css">
    #loginButton {
        width: 100%;
        margin: 0 auto;
    }
</style>

    <h1><%= title %></h1>

    <br />

    <p class="text">Completa el siguiente formulario para iniciar sesion</p>

    <br />

    <% include messages %>

    <form class="form" action='/users/login' method='post'>

        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <input class="form-control" type='text' name='email' placeholder='Email' />
            </div>
        </div>
            
        <br />

        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <input class="form-control" type='password' name='password' placeholder='Password' />
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <input class="btn btn-primary" type='submit' value="Login" id="loginButton" ></input>
            </div>
        </div>
    </form>
</body>
</html>