<p>Miembros:</p>
<select id="memberSelect" name="members" multiple="multiple" size="10">
    <% if (locals.users) { 
        users.forEach(function(user) { %>
            <option value="<%= user.email %>"><%= user.email %></option>
        <% }) 
    } %>
</select>