<body>    
    <h1><%= title %></h1>
    
    <% include messages %>
    
	<% if (locals.bands) { 
        bands.forEach(function(band) { %>
            <paper-card heading="<%= band.name%>" >  <div class="card-content"><%= band.description %> </div>  </paper-card>
        <% }) 
    } %>
</body>
