<body>    
    <style type="text/css">
        paper-card {
            width: 100%;
            margin-top: 10px;
        }
    </style>

    <h1><%= title %></h1>
    
    <% include messages %>
    
	<% if (locals.bands) { 
        bands.forEach(function(band) { %>

            <paper-card heading="<%=band.name %>" >
                <div class="card-content">
                    <p><%=band.description %></p> 
                    <ul>
                        <% band.genres.forEach(function(genre) { %>
                            <li><%=genre %></li>
                        <% }) %>
                    </ul>
                </div>  
                <div class="card-actions"> 
                    <paper-button >
                        <iron-icon icon="icons:build"></iron-icon>Configurar
                    </paper-button>
                </div>
            </paper-card>

        <% }) 
    } %>

</body>
