<body>    
    <h1><%= title %></h1>
    
    <% include messages %>
    
	<% if (locals.bands) { 
        bands.forEach(function(band) { %>
            <p><%= band.name %></p>
        <% }) 
    } %>
</body>
