<link rel="stylesheet" href="/stylesheets/bootstrap-multiselect.css">

<style type="text/css">
    #registerButton {
        width: 100%;
    }
</style>

<body>
    
    <h1><%= title %></h1>
    <p class="text">Completa el siguiente formulario para registrarte:</p>
    
    <hr />

    <% include messages %>
    
    <form class="form" action='/users/register' method='post'>
        <div class="row text-center">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <input class="form-control" type='text' name='name' placeholder='Nombre' />
            </div>
        </div>
            
        <br />

        <div class="row text-center">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <input class="form-control" type='text' name='email' placeholder='Email' />
            </div>
        </div>

        <br />

        <div class="row text-center">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <input class="form-control" type='password' name='password' placeholder='Password' />
            </div>
        </div>

        <br />

        <% include genreSelect %>

        <hr />

        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <input class="btn btn-primary" type='submit' value="Registrarse" id="registerButton" ></input>
            </div>
        </div>

    </form>
</body>