<link rel="stylesheet" href="/stylesheets/bootstrap-multiselect.css">

<style type="text/css">
    #registerButton {
        width: 100%;
    }
</style>

<body>
    
    <h1><%= title %></h1>
    <p class="text">Completa el siguiente formulario para registrarte:</p>
    
    <hr />

    <% include messages %>
    
    <form class="form" action='/users/register' method='post'>
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <paper-input label="Nombre" name="name" auto-validate required pattern="[\D ]+" error-message="Correo invalido!"></paper-input>
            </div>
        </div>
            
        <br />

        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <!-- <input class="form-control" type='text' name='email' placeholder='Email' /> -->
                <paper-input label="email" name="email" auto-validate required pattern="[\w_\.]+@[\w_]+\.com" error-message="Correo invalido!"></paper-input>
            </div>
        </div>
            
        <br />

        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <paper-input label="Password" type="password" name="password"></paper-input>
            </div>
        </div>

        <br />

        <label>Generos: </label>
        <% include genreSelect %>

        <hr />

        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <input class="btn btn-primary" type='submit' value="Registrarse" id="registerButton" ></input>
            </div>
        </div>

    </form>
</body>