    <select id="criteriaSelect" size="10">
        <option value="genre" selected="selected">Género</option>
        <option value="bandName">Nombre de banda</option>
        <option value="songName">Nombre de canción</option>
    </select>  