<select id="genreSelect" name="genres" multiple="multiple" size="10">
    <option value="rock">Rock</option>
    <option value="indie">Indie</option>
    <option value="pop">Pop</option>
    <option value="heavyMetal">Heavy Metal</option>
    <option value="nacional">Nacional</option>
</select>