
<select id="locationSelect" name="location" size="10">
    <% if (locals.locations) { 
        locations.forEach(function(location) { %>
            <option value="<%= location.name %>"><%= location.name %></option>
        <% }) 

    } %>
</select>